* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #181818;
  /* background-image: url("https://images4.alphacoders.com/286/thumb-1920-286946.jpg"); */
  background-image: url("https://www.shutterstock.com/shutterstock/videos/3680145555/thumb/1.jpg?ip=x480");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  position: relative;
}
.port {
  color: white;
  font-size: 40px;
  font-weight: 400;
}
.nav {
  color: white;
  list-style: none;
  display: flex;
  gap: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.sa1 {
  color: white;
}
.container {
  display: flex;
  gap: 20px;
}

.box {
  flex: 1;
  padding: 20px;
  background-color: lightblue;
  background-color: white;
  text-align: center;
}
.contact-container {
  margin-top: 100px;
  margin-left: 20px;
  flex: 1;
  padding: 30px;
  width: 50%;
  border-radius: 10px;
  /* background-image: url("https://www.shutterstock.com/shutterstock/videos/3680145555/thumb/1.jpg?ip=x480"); */
  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(234, 229, 229, 0.752);
}

input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

.btn {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background: #0056b3;
}
.info-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  gap: 20px;
  /* background-image: url("https://www.shutterstock.com/shutterstock/videos/3680145555/thumb/1.jpg?ip=x480"); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background: #111; */
  padding: 40px;
  color: white;
  border-radius: 10px;
}

.info-box {
  text-align: center;
}

.icon {
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}
