* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #181818;
    /* background-image: url("https://images4.alphacoders.com/286/thumb-1920-286946.jpg"); */
    background-image: url("https://www.shutterstock.com/shutterstock/videos/3680145555/thumb/1.jpg?ip=x480");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    position: relative;  
}
.port{
    color: white;
    font-size: 40px;
    font-weight: 400;
}
.nav{
    color: white; 
    list-style: none;
    display: flex;
    gap: 30px;
    position: absolute;   
    left: 50%;         
    transform: translateX(-50%);
}
.sa1{
    color: white;
}
.pa2{
    font-size: 20px;
}
.haunt {
    width: 80%;
    margin: 60px auto;
    padding: 50px;
    /* background: linear-gradient(to bottom right, #6e6e6e, #2c2c2c); */
    /* border-radius: 30px; */
    /* box-shadow: 0 10px 25px rgba(0,0,0,0.4); */
    color: white;
    /* display: flex; */
    /* flex-direction: column; */
    height: 73vh;
}
